/*-------- Reset---------*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Spartan", helvetica, "sans-serif", Arial;
}

h1 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 32px;
  font-weight: 600;
}

h6 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: 700;
}

p {
  font-size: 12px;
  line-height: 24px;
  color: #a1a1a1;
}

a {
  font-size: 14px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
}

/*-------- Global---------*/
html,
body {
  width: 100vw;
  height: 100%;
  font-family: "Spartan", helvetica, "sans-serif", Arial;
  overflow-x: hidden;
}

html ::-moz-selection,
body ::-moz-selection {
  background-color: #87b64679;
}

html ::selection,
body ::selection {
  background-color: #87b64679;
}

.imgbox .imgbox-inner {
  width: 100%;
  padding-top: calc(100% * 3 / 4);
  position: relative;
}

.imgbox .imgbox-inner .image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-group .btn {
  cursor: pointer;
}

.slide-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide-nav li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 8px;
  cursor: pointer;
  overflow: hidden;
}

.slide-nav li.selected {
  display: block;
  height: 12px;
  width: 12px;
  background-color: rgba(255, 255, 255, 0.3);
}

/*-------- Components---------*/
.overlay.active {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.upper-section {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.upper-section .left {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.upper-section .left .slide {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.upper-section .left .slide.imgbox .imgbox-inner {
  height: 100%;
}

.upper-section .left .slide.imgbox .slide-image {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.upper-section .left header {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
}

.upper-section .left header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.upper-section .left header .logo {
  background: url(../images/logo.svg) center/contain no-repeat;
  width: 80px;
  height: 40px;
  margin-right: 40px;
}

.upper-section .left header .nav-hamburger {
  display: none;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  position: fixed;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  border-radius: 4px;
}

.upper-section .left header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 50;
}

.upper-section .left header .nav .nav-close {
  display: none;
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: auto;
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer;
}

.upper-section .left header .nav .nav-close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.upper-section .left header .nav li {
  padding: 8px 16px;
  line-height: 24px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.upper-section .left header .nav li:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.upper-section .left header .nav li a {
  color: white;
}

.upper-section .left .btn-group {
  position: absolute;
  right: -159px;
  bottom: 0;
  z-index: 5;
}

.upper-section .left .btn-group .btn {
  width: 80px;
  height: 80px;
  border-radius: 0px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.upper-section .left .btn-group .btn.arrow-left {
  background-image: url("../images/icon-angle-left.svg");
  border-right: none;
}

.upper-section .left .btn-group .btn.arrow-right {
  background-image: url("../images/icon-angle-right.svg");
}

.upper-section .left .btn-group .btn:hover {
  background-color: #2b2b2b;
}

.upper-section .right {
  padding: 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upper-section .right .action-shop {
  display: block;
  margin-top: 32px;
}

.upper-section .right .action-shop p {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #454545;
  margin-right: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.upper-section .right .action-shop img {
  -webkit-animation: arrow-animation 1s 1.5s infinite;
          animation: arrow-animation 1s 1.5s infinite;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.upper-section .right .action-shop:hover p {
  color: #a1a1a1;
}

@-webkit-keyframes arrow-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
}

@keyframes arrow-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
}

@media (max-width: 992px) {
  .upper-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .upper-section .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .upper-section .left .btn-group {
    right: 0px;
    bottom: 0;
  }
  .upper-section .left header .container {
    display: block;
  }
  .upper-section .left header .logo {
    margin: auto;
  }
  .upper-section .left header .nav-hamburger {
    display: block;
  }
  .upper-section .left header .nav {
    background: white;
    width: 100vw;
    height: 160px;
    padding: 40px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: fixed;
    top: -160px;
    left: 0;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  .upper-section .left header .nav .nav-close {
    display: block;
  }
  .upper-section .left header .nav li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 24px;
    margin-right: 16px;
  }
  .upper-section .left header .nav li:last-child {
    margin-right: 0px;
  }
  .upper-section .left header .nav li a {
    font-weight: 700;
    font-size: 18px;
    color: black;
  }
  .upper-section .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 768px) {
  .upper-section .left header .nav {
    padding: 24px;
  }
  .upper-section .left header .nav li {
    padding: 16px;
    margin-right: 8px;
  }
}

@media (max-width: 576px) {
  .upper-section .left header .nav {
    height: 120px;
    padding: 24px;
  }
  .upper-section .left header .nav li {
    padding: 8px;
    margin-right: 8px;
  }
  .upper-section .left header .nav li a {
    font-size: 14px;
  }
  .upper-section .left .btn-group .btn {
    width: 60px;
    height: 60px;
  }
  .upper-section .left .slide-nav {
    bottom: 30px;
  }
  .upper-section .right {
    padding: 40px;
  }
}

@media (max-width: 480px) {
  .upper-section .left header .container {
    padding: 16px;
  }
  .upper-section .left header .nav-hamburger {
    top: 16px;
  }
  .upper-section .left header .nav {
    padding: 16px;
  }
  .upper-section .left header .nav li {
    padding: 8px;
    margin-right: 8px;
  }
  .upper-section .left header .nav li a {
    font-size: 12px;
  }
}

.lower-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lower-section .low-image-dark {
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.lower-section .low-image-light {
  width: calc(40% - 160px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.lower-section .middle-text {
  width: calc(30% + 160px);
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lower-section .middle-text p {
  text-align: justify;
}

@media (max-width: 992px) {
  .lower-section .low-image-dark,
  .lower-section .low-image-light,
  .lower-section .middle-text {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .lower-section .middle-text {
    padding: 40px;
  }
}

.attribution {
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 8px;
  text-align: center;
}

.attribution a {
  font-size: 8px;
  color: #454545;
}
/*# sourceMappingURL=style.css.map */